/******************************************************************

Stylesheet: Landscape phones and down

******************************************************************/

.home {

	.home-right {
		float: none;
		margin: 50px auto 0;
		width: 96%;
		padding: 6% 2% 3%;
	}
}

.site-title {
	width: 100%;
}

p.site-description {
	width: 90%;
}

.primary .search {
	float: left;
	margin: 10px auto;
	width: 90%;
	margin-left: 5%;
}