/******************************************************************

Stylesheet: Phones to Tablets

******************************************************************/

body {
	width: 100%;
	margin: 0 auto;
}

#wrap {

}

.archive-page,
#content-sidebar-wrap,
.content-sidebar #content,
.sidebar-content #content,
.full-width-content #content,
#footer-widgets .widget-area,
.sidebar,
#sidebar-alt,
#wrap {
	width: 100%;
}

.wrap,
#inner {
	width: 96%;
}

#description,
.footer-left,
.footer-right {
	float: none;
	text-align: center;
}


// =MENUS
// ---------------------------------------------------------------------

.menu {

	a {
		padding: 12px 18px;
		text-align: left;
	}

	li {
		float: none;
		display: inline-block;

		&.right { display: none; }

		ul ul {
			margin: -35px 0 0 158px;
		}
	}
}

.sidebar .menu li {
	float: none;
	display: inline;
}


// =INNER/CONTENT-SIDEBAR-WRAP/CONTENT
// ---------------------------------------------------------------------

#inner {

}

#content {

}

.breadcrumb,
.navigation,
.sidebar .widget,
.taxonomy-description {
	margin: 0 0px 20px;
}

.featuredpage .page img, 
.featuredpost .post img {
	margin: 0 0 10px;
}

.author-box {
	margin: 0 20px 40px;
}

.post-image {
	width: 96%;
}

.s {
	width: 60%;
}

.five-sixths, 
.four-fifths, 
.four-sixths, 
.one-fifth, 
.one-fourth, 
.one-half, 
.one-sixth, 
.one-third, 
.three-fifths, 
.three-fourths, 
.three-sixths, 
.two-fifths, 
.two-fourths, 
.two-sixths, 
.two-thirds {
	padding: 0;
	width: 100%;
}


// =FOOTER WIDGETS / FOOTER
// ---------------------------------------------------------------------


#footer-widgets {

	.widget-area {

	}

	.widget {

	}
}

.site-footer {

	.footer-left {

	}

	.footer-right {

	}
}


// =MISC
// ---------------------------------------------------------------------