/******************************************************************

Stylesheet: Phones to Tablets

******************************************************************/

body {
	width: 100%;
	margin: 0 auto;
}

#wrap {

}

.archive-page,
.content-sidebar #content,
.content-sidebar-sidebar #content,
#footer-widgets .widget-area,
.full-width-content #content,
.sidebar,
.sidebar-content #content,
.sidebar-content-sidebar #content,
.sidebar-sidebar-content #content,
#content-sidebar-wrap,
.site-header,
.site-header .widget-area,
#sidebar-alt,
#title-area,
#wrap {
	width: 100%;
}

.wrap {
	width: 96%;
}

#description,
.footer-left,
.footer-right,
#title,
#title-area,
.site-header .widget-area {
	float: none;
	text-align: center;
}


// =HEADER
// ---------------------------------------------------------------------

.site-header {

	#title-area {
		padding: 0 0 20px;
	}

	#title a {
		margin: 0 auto;
	}

	.widget-area {
		padding: 0 0 10px;
	}

	.searchform {
		float: none;
		padding: 0;
		text-align: center;
	}

	.s {
		margin: 0 2px 0 0;
	}

	.menu {
		float: none;
		text-align: center;

		li {
			display: inline-block;
			float: none;
		}

		li li a,
		li li a:link,
		li li a:visited {
			text-align: left;
		}
	}
}


// =MENUS
// ---------------------------------------------------------------------

.menu {

	a {
		padding: 12px 18px;
		text-align: left;
	}

	li {
		float: none;
		display: inline-block;

		&.right { display: none; }

		ul ul {
			margin: -35px 0 0 158px;
		}
	}
}

.sidebar .menu li {
	float: none;
	display: inline;
}


// =INNER/CONTENT-SIDEBAR-WRAP/CONTENT
// ---------------------------------------------------------------------

#inner {
	padding: 20px 0 0;
	width: 96%;
	width: 100%;
}

#content {
	padding: 0;
}

.breadcrumb,
.navigation,
.sidebar .widget,
.taxonomy-description {
	margin: 0 0px 20px;
}

.page .page,
.post,
.listing,
.aeprofiles,
.testimonial,
#comments,
#respond {
	/*padding: 0 20px;*/
}

.featuredpage .page img, 
.featuredpost .post img {
	margin: 0 0 10px;
}

.author-box {
	margin: 0 20px 40px;
}

.post-image {
	width: 96%;
}

.s {
	width: 60%;
}

.five-sixths, 
.four-fifths, 
.four-sixths, 
.one-fifth, 
.one-fourth, 
.one-half, 
.one-sixth, 
.one-third, 
.three-fifths, 
.three-fourths, 
.three-sixths, 
.two-fifths, 
.two-fourths, 
.two-sixths, 
.two-thirds {
	padding: 0;
	width: 100%;
}


// =FOOTER WIDGETS / FOOTER
// ---------------------------------------------------------------------


#footer-widgets {

	.widget-area,
	.footer-widgets-1 {
		padding: 0;
		float: none;
	}

	.widget {
		padding: 20px 0 0;
	}
}

.site-footer {

	.footer-left {
		margin-bottom: 15px;
	}

	.footer-right {

	}
}


// =MISC
// ---------------------------------------------------------------------