/******************************************************************

Stylesheet: Portrait tablet to landscape and desktop

******************************************************************/

.wrap,
#inner {
	width: 724px;
}

.site-title {
	background-size: 100%;
	width: 100%;
	height: 131px;
}

nav.primary {

	ul li a {
		border: 0;
	}
}

.site-footer {

	.footer-left {
		.copyright {
			margin: 8px 0 10px 9px;
		}
	}

	.footer-right {
		.credits {
			text-align: left;
		}
	}
}