// TEXT & LINKS
// --------------------------------------------------------------

@baseFontSize:         16px;
@bodyFontFamily:       "Lato", arial, sans-serif;
@headingsFontFamily:   "Lato", arial, sans-serif;
@textColor:            #111;
@headingsColor:        #000;
@linkColor:            #b31414;
@linkHoverColor:       @linkColor;
@selectionColor:       #fff;
@selectionBG:          #333;

// Navigation
@navLinkColor:         #fff;
@navLinkHoverColor:    #fff;
@navFontSize:          18px;

// @subnavLinkColor:      @linkColor;
// @subnavLinkHoverColor: #002A70;
// @subnavFontSize:       16px;

// Icon Font
@awesomeFontSize:      24px;
@awesomeFontColor:     #000;

// Headlines
@fwHeaderFontSize:     24px;
@sbHeaderFontSize:     24px;



// Backgrounds
// --------------------------------------------------------------

@bodyBG:   #BBB;
@wrapBG:   transparent;
// @headerBG: #FFF;
@navBG:    #000;
// @subnavBG: #F4F4F4;



// Responsive Widths
// --------------------------------------------------------------

@wrapDefaultWidth: 1140px;
@wrapLarge:        1140px;
@wrapStandard:     960px;
@wrapMedium:       724px;
@wrapSmall:        96%;


// Colors
// --------------------------------------------------------------

@white: #fff;


// Buttons
// --------------------------------------------------------------

@btnPrimaryColor:    #fff;
@btnAltColor:        #fff;


// Misc
// --------------------------------------------------------------

@accentBorder:      #111;          // Post Meta Border Top, Clear line, Pagination
@accentBG:          transparent;   // Breadcrumb, Pagination BG