/*
Theme Name: Picture Perfect
Theme URI: http://themes.agentevolution.com/shop/picture-perfect
Description: Genesis child theme by Agent Evolution
Author: AgentEvolution
Author URI: http://themes.agentevolution.com
Version: 1.4.2
Tags: real estate, html5, css3, responsive, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, custom-background, custom-colors, custom-header, theme-options, full-width-template
Template: genesis
Template Version: 1.9.1
*/